# Name->Latitude, Longitude

In [6]:
from geopy.geocoders import Nominatim
import pandas as pd

In [7]:
geolocator = Nominatim()
df = pd.read_csv("../Real estate sqm for 1m USD.csv")
df.head()

        City  Square meters
0   Istanbul             98
1  Melbourne             90
2    Beijing             66
3      Paris             46
4   New York             25

In [8]:
city = df['City'].tolist()
for x in city:
    print(x,geolocator.geocode(x).latitude,geolocator.geocode(x).longitude, end='\r')
    df.loc[df['City'] == x,'latitude'] = geolocator.geocode(x).latitude
    df.loc[df['City'] == x,'longitude'] = geolocator.geocode(x).longitude

In [9]:
df.head()

        City  Square meters   latitude   longitude
0   Istanbul             98  41.009633   28.965165
1  Melbourne             90 -37.814218  144.963161
2    Beijing             66  39.905963  116.391248
3      Paris             46  48.856610    2.351499
4   New York             25  40.730646  -73.986614

# Zipcode->Latitude, Longitude

In [ ]:
import zipcode as zc

# Given a zipcde, get city state and coordinates = [latitude, longitude]
def get_city_state_coords_from_zip(zipcode):
    zipcode = zc.isequal(zipcode)
    if zipcode:
        city = zipcode.city
        state = zipcode.state
        coords = [zipcode.lat, zipcode.lon]
        return city, state, coords
    return '', '', ''

# Postcode -> More geo Information
-  http://postcodes.readthedocs.io/en/latest/

In [ ]:
from pprint import PrettyPrinter
import pandas as pd
from postcodes import PostCoder

pc = PostCoder()
result = pc.get('LU6 1RE')
PrettyPrinter(indent=4).pprint(result['geo'])