#### Time Count

In [ ]:
t_start = time()
print('done in %0.3f minutes.' % ((time() - t_start) / 60))

#### Time Related

In [10]:
date_format = "%Y-%m-%d"
from datetime import datetime
from datetime import timedelta
from datetime import date

now = str(date.today())
start = datetime.strptime(now, date_format)+timedelta(days=-2)
start.strftime(date_format)

now = datetime.now()
start = now + timedelta(days=-90)
start = start.strftime(date_format)
end = now + timedelta(days=-1)
end = end.strftime(date_format)

print(start,end)

2018-06-01 2018-08-29

#### Time Loop

In [3]:
from datetime import date
from dateutil.rrule import rrule, DAILY
a = date(2018, 8, 25)
b = date(2018, 8, 29)
for dt in rrule(DAILY, dtstart=a, until=b):
    datelist = dt.strftime('%Y-%m-%d').split('-')
    print(datelist)

['2018', '08', '25']
['2018', '08', '26']
['2018', '08', '27']
['2018', '08', '28']
['2018', '08', '29']

#### List

In [58]:
# append
stack = ['a','b']
stack.append('c')
stack.append(['e','f'])

In [59]:
stack

['a', 'b', 'c', ['e', 'f']]

In [63]:
# extend
stack.extend(['e','f'])

In [62]:
stack

['a', 'b', 'c', ['e', 'f'], 'e', 'f']

#### DataFrame 
https://chrisalbon.com/python/data_wrangling/pandas_data_structures/

In [118]:
# create df, insert data from a list
import pandas as pd
columns = ['a','b']
df = pd.DataFrame(columns=columns)
rows = [[1,2],[3,4],[5,6]]
for row in rows:
    df.loc[len(df)] = row

In [119]:
df

   a  b
0  1  2
1  3  4
2  5  6

In [120]:
# iterate rows and get valeus of a,b column
for index, row in df.iterrows():
    print("index: %s, column a: %s, column b: %s" %(index, row['a'],row['b']))

index: 0, column a: 1, column b: 2
index: 1, column a: 3, column b: 4
index: 2, column a: 5, column b: 6

In [121]:
# add new column
df['c'] = ['alice','bob','alice']

In [122]:
df

   a  b      c
0  1  2  alice
1  3  4    bob
2  5  6  alice

In [123]:
# group 
df.groupby(['c'])['b'].count() # pd series 
df.groupby(['c'])['b'].count().reset_index() # data frame

       c  b
0  alice  2
1    bob  1

In [126]:
df.groupby('c')['a'].value_counts()

c      a
alice  1    1
       5    1
bob    3    1
Name: a, dtype: int64

In [128]:
# unstack: Unstack switches the rows to columns to get the activity counts as features.
df.groupby('c')['a'].value_counts().unstack().fillna(0)

a        1    3    5
c
alice  1.0  0.0  1.0
bob    0.0  1.0  0.0

In [71]:
# df rows drop by the index 
df.drop(2, inplace=True)

In [72]:
df

   a  b      c
0  1  2  alice
1  3  4    bob

In [73]:
# df select 
df.loc[(df['a']==1) & (df['b']==2)]['c']

0    alice
Name: c, dtype: object

In [74]:
# insert a row by index
df.loc[2] = [1,3,'alice']

In [100]:
# select multiple rows and columns by index
df.iloc[0:2:,[1,3]]
# select multiple rows and columns by name 
df.loc[[2,3],['B','D']]

          B         D
0  0.121853  0.045715
1  0.769957  0.934491

In [103]:
# apply function
def num_missing(x):
    return sum(x.isnull())

#Applying per column:
print("Missing values per column:")
print(df.apply(num_missing, axis=0)) #axis=0 defines that function is to be applied on each column

#Applying per row:
print("\nMissing values per row:")
print(df.apply(num_missing, axis=1).head()) #axis=1 defines that function is to be applied on each row

Missing values per column:
A    0
B    0
C    0
D    0
dtype: int64

Missing values per row:
0    0
1    0
2    0
3    0
4    0
dtype: int64

In [116]:
# pivot table
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                         "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two",
                         "one", "one", "two", "two"],
                   "C": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7]})
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'], aggfunc=np.sum)

C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

In [101]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.rand(10,4),columns=list('ABCD'))

for row in df.itertuples():
    print(row.A, row.Index)

0.06927066276754756 0
0.7433315967127784 1
0.2227109242961567 2
0.03113072493306268 3
0.43192793870532176 4
0.9069994416205223 5
0.3282763984071948 6
0.5552472464272361 7
0.8742569829200965 8
0.6158789362064941 9

#### Numpy

In [81]:
my_data = [1,2,3,4,5]
my_data = np.array(my_data, dtype=np.float32)

In [90]:
# sort numpy narray
np.sort(my_data)
np.sort(my_data)[::-1]

array([5., 4., 3., 2., 1.], dtype=float32)

#### Series

In [37]:
# create a series
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])

In [38]:
# access data
print(s[100]) # with index lable
print(s[:3]) # with slice

a
100    a
101    b
102    c
dtype: object

In [13]:
# series iterate to get the index and value
for i, v in s.items():
    print(i,v)

100 a
101 b
102 c
103 d

In [21]:
# series to dict
s = pd.Series([1, 2, 3, 4])
s.to_dict()
{0: 1, 1: 2, 2: 3, 3: 4}

{0: 1, 1: 2, 2: 3, 3: 4}

In [ ]:
# create series from dict
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data)

In [1]:
# Series to Value and Index (Arrary) to List
import pandas as pd
s= pd.Series([6,3,4,6])
print(s.values.tolist(),s.index.values.tolist())

[6, 3, 4, 6] [0, 1, 2, 3]

#### Filter Rows
-  https://stackoverflow.com/questions/15325182/how-to-filter-rows-in-pandas-by-regex

#### Format

#### Good to know

Inplace: https://stackoverflow.com/questions/45570984/pandas-is-inplace-true-considered-harmful-or-not